.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.Buttons {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100;
  justify-content: space-between;
}
